.confirmLoginPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.confirmLoginContainer {
    border-radius: 6px;
    box-shadow: 0px 1px 5px #aaaaaa;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    top: 50px;
    height: 21em;
    width: 15em;
}

.otpInput {
    display: flex;
    justify-content: center;
    width: 250px;
}

.otpInnerInput {
    width: 20px !important;
    height: 30px !important;
    margin: 3px !important;
    border: 1px solid #c9bcbc;
    border-radius: 4px;
}

.otpInnerInput:focus{
    border: 1px solid #c9bcbc !important;
}






/*.confirmLoginContainer div {*/
/*    position: relative;*/
/*    width: 30px;*/
/*}*/

/*.confirmLoginContainer input {*/
/*    background-color: red;*/
/*    border-radius: 8px;*/
/*}*/
