.header_navbar {
  top:0px;
  background-color: white;
  position: relative;
  height: 45px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1px;
  box-shadow: 0px 1px 5px #aaaaaa;
}

.header_navbar_logo_container {
  top: 0px;
  height: 100%;
  position: absolute;
}

.header_navbar_logo {
  /*top: 4px;*/
  height: 35px;
  position: relative;
}

.header_navbar_login_container {
  left: 20px;
  height: 100%;
  width: 150px;
  position: absolute;
}

.header_navbar_login_btn {
  top: 7px;
  left: 10%;
  height: 20px;
  width: 50px;
  position: absolute;
  border-radius: 5px;
  color: white;
  background-color: rgb(64, 211, 159);
  border: 2px double rgb(64, 211, 159);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-size: 9px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.header_navbar_login_btn:hover {
  border: 2px double white;
}
