.header_navbar {
  top:0px;
  background-color: white;
  position: relative;
  height: 45px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1px;
  box-shadow: 0px 1px 5px #aaaaaa;
}

.header_navbar_logo_container {
  top: 0px;
  height: 100%;
  position: absolute;
}

.header_navbar_logo {
  top: 4px;
  height: 35px;
  position: absolute;
}

.header_navbar_login_container {
  left: 20px;
  height: 100%;
  width: 150px;
  position: absolute;
}

.header_navbar_login_btn {
  top: 7px;
  left: 10%;
  height: 20px;
  width: 50px;
  position: absolute;
  background-color: #ffffff62;
  border-radius: 5px;
  box-shadow: rgba(187, 207, 196, 0.35) 0 -25px 18px -14px inset,
    rgba(194, 243, 215, 0.35) 0 1px 2px, rgba(59, 65, 62, 0.35) 0 2px 4px,
    rgba(238, 223, 238, 0.35) 0 4px 8px, rgba(219, 255, 235, 0.35) 0 8px 16px,
    rgba(255, 255, 255, 0.35) 0 16px 32px;
  color: rgb(54, 171, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 9px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.header_navbar_login_btn:hover {
  color: white;
  background-color: rgb(54, 171, 128);
}
