.App {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.toast {
    width: 250px !important;
    font-size: 8px !important;
}

.rtl {
    direction: rtl;
}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
