.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.loginForm {
  border-radius: 6px;
  box-shadow: 0px 1px 5px #aaaaaa;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  top: 50px;
  height: 21em;
  width: 16em;
}

.phoneInput {
  display: flex;
  text-align: right;
  height: 25px;
  width: 150px;
  font-size: 10px;
  border-radius: 3px;
  border: 1px #c9bcbc solid;
  background: transparent;
  outline: none;
  margin: 10px;
  padding: 5px;
}

.phoneInput:focus {
  border: 1px red solid;
}

.phoneLabel{
  font-size: 9px;
  margin: 10px;
  color: rgb(97, 100, 100)
}

.loginFormLogo{
  top: 14px;
  height: 35px;
  position: absolute;
}

.submitButton {
  height: 23px;
  width: 150px;
  font-size: 11px;
  border-radius: 3px;
  color: rgb(239, 244, 250);
  background-color: rgb(64, 211, 159);
  border: 2px double rgb(64, 211, 159);
}

.submitButton:hover{
  border: 2px double white;
}

.phoneError{
  direction: rtl;
}

